[submodule "Week 8/1_GitDemo"]
	path = Week 8/1_GitDemo
	url = https://github.com/PsyKnight/1_GitDemo
[submodule "Week 8/2_GitDemo"]
	path = Week 8/2_GitDemo
	url = https://github.com/PsyKnight/2_GitDemo
[submodule "Week 8/3_GitDemo"]
	path = Week 8/3_GitDemo
	url = https://github.com/PsyKnight/3_GitDemo
[submodule "Week 8/4_GitDemo"]
	path = Week 8/4_GitDemo
	url = https://github.com/PsyKnight/4_GitDemo
[submodule "Week 8/5_GitDemo"]
	path = Week 8/5_GitDemo
	url = https://github.com/PsyKnight/5_GitDemo
